
<div class="container">

<h1>Stupid coach</h1>
<p>Ask your coach anything:</p>

<div class="form-row align-items-center">
<form action="/answer" method="get">
  <input type="text" class="form-control mb-2" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary mb-2">
</form>
</div>
</div>
